.button {
    left: 15%;
    background-color: #ffffff;
    color: #e751b5;
    position : relative;
    top : 10px;
    height:5%;
    width:20%;
    font-size: 1rem;
}
.inputfield {
    left: 15%;
    top: 10px;
    position : relative;
    width: 10%;
    height: 5%;
}
.textStuff {
    left: 10px;
    top: 40px;
    position : relative;
    font-size: 250%;
}
.box
{
    width: auto;
    height: auto;
    background-color: #eeb6cc;
    display: block;

}
.box:hover
{
    width: auto;
    height: auto;
    background-color: #eeb6cc;
    display: block;
    outline: solid;
    outline-width: 2px;
    outline-color: #fffb00;

}
.container
{
    display: grid;
    grid: repeat(2,1fr) / auto-flow 1fr;
    width : 100vw;
    height : 100vh;
    gap : 1fr;
}
