.image
{
    background-color:white;
    border-radius:5%;
    border-width:3%;
    border:solid gray;
    position:relative;
    top:5%;
    height: 45%;
    width:35%;
    left: 20%;
}
.button {
    left: 15%;
    background-color: #ffffff;
    color: #e751b5;
    position : relative;
    top : 10px;
    height:9%;
    width:20%;
    font-size: 1.7vw;
}
.inputfield {
    left: 15%;
    top: 10px;
    position : relative;
    width: 10%;
    height: 9%;
}
.textStuff {
    left: 10px;
    top: 5%;
    position : relative;
    font-size: 250%;
    font-family: 'Roboto Mono', monospace;
}
.box
{
    border: solid;
    width: auto;
    height: auto;
    background-color: #eeb6cc;
    display: block;

}
.box:hover
{
    width: auto;
    height: auto;
    background-color: #eeb6cc;
    display: block;
    outline: solid;
    outline-width: 2px;
    outline-color: #fffb00;

}
.container
{
    display: grid;
    grid: repeat(2,1fr) / auto-flow 1fr;
    width : 100vw;
    height : 100vh;
    gap : 5px;
}
